.search {
  /* background-color: white; */
  padding: 1%;
  margin: 10px;
  margin-top: 20px;
}

.search__box {
  text-align: center;
  /* width: 90%; */
  height: 30px;
  margin-bottom: 20px;
}

.search__box > input {
  border: none;
  color: white;
  margin-left: 25px;
  /* width: 70%; */
  width: 300px;
  height: 20px;
  font-size: 20px;
  outline: none;
  background-color: #141414;
}

.search__icon {
  vertical-align: middle;
  color: white;
}
